<div id="user-id" data-user-id="<%= current_user.id %>"></div>
<div id="room-id" data-room-id="<%= @room.try(:id) %>"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-3 rooms-sidebar">
      <p></p>
      <%= render 'form', room: Room.new %>
      <hr>
      <% @rooms.each do |room| %>
        <%= link_to room do %>
          <div class="card mb-2 room-card">
            <div class="card-body">
              <span class="name"><%= room.name %></span><br>
              <span class="users-count">
                <%= room.users.uniq.count %> <%= t 'users_count' %>
              </span>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-9">
      <div class="chat-room">
        <nav class="navbar navbar-light">
          <span class="navbar-brand"><%= @room.try(:name) %></span>
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= current_user.username %> <%= link_to("#{t 'logout'}", destroy_user_session_path, method: :delete) %>
            </li>
          </ul>
        </nav>
        <% if @room.present? %>
          <div id="messages">
            <% @messages = @room.messages.order('created_at DESC').paginate(page: params[:page], per_page: 15) %>
            <%= will_paginate @messages %>
            <% @messages.reverse.each do |message| %>
              <%= render 'messages/message', message: message %>
            <% end %>
          </div>
          <div class="chat-box">
            <%= render 'messages/form', message: Message.new %>
          </div>
          </div>
        <% end %>
        </div>
  </div>
</div>